[Desktop Entry]
Name=BZFlag
X-GNOME-FullName=BZFlag
Comment=Free 3D online multi-player multi-platform tank battle game.
Categories=Games;
Exec=bzflag
Icon=${SNAP}/share/bzflag/bzflag-256x256.png
Terminal=false
Type=Application
Version=0.4
